# Dependencies
**/node_modules/

# Environment files
.env
.env*.local
**/.env.local

# Build outputs
**/dist-electron/
dist-electron/
**/dist/
**/out/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS & Editor
**/.DS_Store
.DS_Store
**/.idea/

# Repository specific
flight_deck_dashboard.html
test*.js
Global Airport Database (ICAO) - airport-codes.csv
scratch_audio
mobile-app/assets/mic_click_off.wav
mobile-app/assets/radio_static.wav
mobile-app/assets/mic_click_on.wav
mobile-app/resize_icons.py